@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron col-md-12" style="text-align:center;text-align:center;display:block;margin:auto;margin-top:10px;">
    <div class="row">
         @*<img src="~/Content/Image/QRCode/QrCode3.jpg" />*@
        <img src="~/Content/Image/LogoIPaymentApproval.png" />
    </div>
   
</div>

<div class="row">
   
</div>